body {
}
.footerText {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 12px;
}
#map-canvas{
	height:250px;
	width:60%;
}
#AddContactBtn {
    cursor: pointer;
}
.ContactInfoTable {
    width: 300px;
    
    margin-bottom: 20px;
}
.ContactInfoTable tr td:first-child {
    width: 100px;
}
.header {
    border-bottom: 1px solid black;
}
.footer {
    background-color: #C4D7ED !important;
}
.MedarbejderImg {
    border: 1px solid #C4D7ED;
}
.MedarbejderText {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: bold;
}

/*game css*/
.MatchButtons {
    width: 52px!important;
    height: 52px!important;
    margin-bottom: 0!important;
    display: inline-block!important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;

  

    
}
.flipped {
    -webkit-perspective: 800;
    perspective: 800;
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flippedBack {
    -webkit-perspective: 800;
    perspective: 800;
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);

    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.AddHighScoreNameTD {
    padding: 5px;
    vertical-align: top;
}
.logoBox {
    padding: 10px;
}
.logoBox img{
	height:60px;
}
ul li {
    border-top: 1px solid grey !important;
}
.FloatLeft{
	float:left;
}
.FloatRight{
	float:right;
}
.FloatClear{
	clear:both;
}